<ion-header>
  <ion-toolbar>
    <ion-title>Edit Blog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="updateBlog()" #blogForm="ngForm">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Edit Blog Post</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input [(ngModel)]="newsItem.title" name="title" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea [(ngModel)]="newsItem.description" name="description"></ion-textarea>
         
        </ion-item>

        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select [(ngModel)]="newsItem.category" name="category" required>
            <ion-select-option value="News">News</ion-select-option>
            <ion-select-option value="Entertainment">Entertainment</ion-select-option>
            <ion-select-option value="Sport">Sport</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Edit Image</ion-label>
          <input type="file" (change)="onFileSelected($event)" />
        </ion-item>

        

        
        <ion-item>
        
          
          <ion-img [src]="imageUrl || 'assets/img/placeholder.png'"></ion-img>
     
        </ion-item>
        

        <ion-button expand="full" type="submit" [disabled]="!blogForm.form.valid">Update</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>


